// global color tokens
$-clr-white: hsl(0, 0%, 100%);
$-clr-very-light: hsl(189, 41%, 97%);
$-clr-light: hsl(185, 41%, 84%);
$-clr-light-grayish-cyan: hsl(184, 19%, 68%);
$-clr-grayish-cyan: hsl(184, 14%, 56%);
$-clr-medium-grayish-cyan: hsl(186, 14%, 43%);
$-clr-very-medium-graysih-cyan: hsl(180, 18%, 40%);
$-clr-dark-grayish-cyan: hsl(180, 25%, 32%);
$-clr-very-dark-grayish-cyan: hsl(183, 100%, 15%);
$-clr-strong-grayish-cyan: hsl(172, 67%, 45%);
$-clr-error: hsl(13, 70%, 61%);

$default: (
  "neutral": (
    "100": $-clr-white,
    "200": $-clr-very-light,
    "300": $-clr-light,
    "400": $-clr-light-grayish-cyan,
    "500": $-clr-grayish-cyan,
    "600": $-clr-medium-grayish-cyan,
    "700": $-clr-very-medium-graysih-cyan,
    "800": $-clr-dark-grayish-cyan,
    "900": $-clr-very-dark-grayish-cyan,
  ),
  "primary": (
    "400": $-clr-strong-grayish-cyan,
    "500": $-clr-error,
  ),
);

// contextual color tokens
$color-neutral-100: var(--neutral-100);
$color-neutral-200: var(--neutral-200);
$color-neutral-300: var(--neutral-300);
$color-neutral-400: var(--neutral-400);
$color-neutral-500: var(--neutral-500);
$color-neutral-600: var(--neutral-600);
$color-neutral-700: var(--neutral-700);
$color-neutral-800: var(--neutral-800);
$color-neutral-900: var(--neutral-900);

$color-primary-400: var(--primary-400);
$color-primary-500: var(--primary-500);

// Change Theme
$active-theme: $default;

// box-shadow
$box-shadow-1: 0 32px 43px rgba(185, 38, 50, 20.07%);

$box-shadow-2: 0px 6px 5px rgb(0, 0, 0, 0.016),
  0px 22px 18px rgb(0, 0, 0, 0.024), 0px 100px 80px rgb(0, 0, 0, 0.04);

$box-shadow-3: 0px 6px 5px rgb(0, 0, 0, 0.02), 0px 22px 18px rgb(0, 0, 0, 0.03),
  0px 100px 80px rgb(0, 0, 0, 0.05);

$box-shadow-4: 0px 6px 5px rgb(0, 0, 0, 0.03), 0px 22px 18px rgb(0, 0, 0, 0.042),
  0px 100px 80px rgb(0, 0, 0, 0.07);

$box-shadow-5: 0px 6px 5px rgb(0, 0, 0, 0.04), 0px 22px 18px rgb(0, 0, 0, 0.06),
  0px 100px 80px rgb(0, 0, 0, 0.1);
