@use "../abstracts/" as *;

.border-radius-1 {
  border-radius: 5px;
}

.border-radius-2 {
  border-radius: 15px;
}

.border-radius-3 {
  border-radius: 25px 25px 0 0;

  @include mq(medium) {
    border-radius: 25px;
  }
}
