@use "../abstracts/" as *;

.button {
  color: $color-neutral-900;
  background-color: $color-primary-400;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1;
  border: 0;
  border-radius: 5px;
  padding-block: 0.9rem;
  margin-top: $size-8;
  font-size: $font-size-500;
  font-weight: $font-weight-bold;
  transition: 275ms ease;

  &:hover,
  &:focus {
    background-color: hsl(173, 61%, 77%);
  }

  &:disabled {
    background-color: hsl(183, 78%, 24%);
    color: $color-neutral-800;
    cursor: not-allowed;
  }

  @include mq(medium) {
    margin-top: auto;
  }
}
